{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid hero-image">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto ml-5 pl-5">
                <h1 class="display-4 logo-font text-white">
                    You design it, <br> We print it
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'add_bespoke_order' %}" class="learn-more-button btn btn-lg rounded-1 text-uppercase py-3">Bespoke Orders</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Popular Products -->
    <div class="container-fluid" id="popular-products">
        <div class="container pt-4 pb-4">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Popular Products</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    product name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{% url 'products' %}" class="learn-more-button btn btn-lg rounded-1 text-uppercase py-3">Explore All Products</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Categories -->
    <div class="container-fluid" id="product-categories">
        <div class="container pt-4 pb-4">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center text-white">Product Categories</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    category name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}