{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid hero-image">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto ml-5 pl-5">
                <h1 class="display-4 logo-font text-white">
                    You design it, <br> We print it
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'add_bespoke_order' %}" class="bespoke-button btn btn-lg rounded-1 text-uppercase py-3">Bespoke Orders</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}