html {
    height: 100%;
}

body {
    /*background: url('/media/print_image_comp.png') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 164px); */
    color: #101728;
    font-family: 'Raleway', sans-serif;
}

.hero-image {
    background: url('/media/print_image_comp.png') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 164px);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: #101728;
}

.shipping-font {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.main-logo-link {
    width: fit-content;
}

/* from https://gradientbuttons.colorion.co/?utm_content=cmp-true */
.learn-more-button {
    background-image: linear-gradient(to right, #ff00cc 0%, #333399  51%, #ff00cc  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.learn-more-button:hover,
.learn-more-button:active,
.learn-more-button:focus {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-blue {
    background: #101728;
    color: #fff;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #1e2b4b;
    color: #fff;
}

.text-blue {
    color: #101728 !important;
}

.border-blue {
    border: 1px solid #101728 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

#product-categories {
    background: #101728;

}

#popular-products {
    background: #fff;
}

/* --- Footer --- */

.page-footer {
    background-color: #fff;
}

.footer-copyright {
    background: #101728;
    color: #fff;
    text-align: center;
}

a.social-media {
    text-decoration: none;
}

.social-media-icon {
    font-size: 2rem;
    color: #101728;
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    margin: 0;
}

.social-media-icon:hover,
.contact-icon:hover {
    color: #9640FB;
    text-decoration: none;
}

.contact {
    color: #101728 !important;
}

.contact-icon {
    font-size: 1rem;
    color: #101728;
    padding: 8px;
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

footer li {
    display: inline;
    margin: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Tablet View - For screen size smaller than 900px */
@media screen and (max-width: 900px) {
    body {
        background: url('/media/small_print_image.png') no-repeat center center;
        background-size: cover;
        height: calc(100vh - 164px);
        color: #101728;
        font-family: 'Raleway', sans-serif;
    }
}

/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh -116px);
    }
}

/* X-Small, SmartPhone View - For screen size smaller than 492px */
@media screen and (max-width: 492px) {
    .display-4.logo-font.text-white {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .learn-more-button {
        font-size: 1rem;
    }
}