<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price: ascending </a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Price: descending</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!--- Bespoke menu --->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="bespoke-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bespoke
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bespoke-link">
                <a href="{% url 'add_bespoke_order' %}" class="dropdown-item">Add Order</a>
                <a href="{% url 'bespoke' %}" class="dropdown-item">View Orders</a>
            </div>
        </li>

        <!--- Stationery menu --->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="stationery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stationery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stationery-link">
                <a href="{% url 'products' %}?category=business_cards" class="dropdown-item">Business Cards</a>
                <a href="{% url 'products' %}?category=notepads" class="dropdown-item">Notepads</a>
                <a href="{% url 'products' %}?category=calendars" class="dropdown-item">Calendars</a>
                <a href="{% url 'products' %}?category=business_cards,notepads,calendars" class="dropdown-item">All Stationery</a>
            </div>
        </li>

        <!--- Promotional menu --->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="promotional-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Promotional
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="promotional-link">
                <a href="{% url 'products' %}?category=flyers" class="dropdown-item">Flyers</a>
                <a href="{% url 'products' %}?category=posters" class="dropdown-item">Posters</a>
                <a href="{% url 'products' %}?category=brochures" class="dropdown-item">Brochures</a>
                <a href="{% url 'products' %}?category=flyers,posters,brochures" class="dropdown-item">All Promotional</a>
            </div>
        </li>

        <!--- Stickers menu --->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="stickers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stickers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stickers-link">
                <a href="{% url 'products' %}?category=sticker_sheets" class="dropdown-item">Sticker Sheets</a>
                <a href="{% url 'products' %}?category=sticker_rolls" class="dropdown-item">Sticker Rolls</a>
                <a href="{% url 'products' %}?category=sticker_sheets,sticker_rolls" class="dropdown-item">All Stickers</a>
            </div>
        </li>

        <!--- Special Offers menu --->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <!--- Reviews menu --->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-blue mr-5" href="#" id="reviews-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews-link">
                <a href="{% url 'add_review' %}" class="dropdown-item">Add Review</a>
                <a href="{% url 'reviews' %}" class="dropdown-item">View Reviews</a>
            </div>
        </li>
    </ul>
</div>